<%= form_for([@banner.parent, @banner, @banner_promo]) do |f| %>
  <%= render 'shared/errors', object: @banner_promo %>

	<fieldset>
		<table class="required">
			<% (1..4).each do |i| %>  
				<col width = "350" >
			<% end %>
			
		<tr>
			<td colspan="2" class="required"><%= f.label "Promo Name (Required)" %><%= f.text_field :comment, size:65, autofocus: true  %></td>
			<td class="required"><%= f.label :start_date %> <%= f.date_field :start_date%></td>
			<td class="required"><%= f.label :end_date %> <%= f.date_field :end_date %></td>
		</tr>

		<tr><td>&nbsp;</td></tr>

		<tr>
			<td class="required"><%= f.label :promo_vehicle %>
				<% BannerPromo::VEHICLES.each do |vehicle| %>
					<%= f.radio_button :promo_vehicle, vehicle %>
					<% if @banner_promo.promo_vehicle == vehicle %>
						<strong><font color="red"> <%= vehicle %><br/> </strong></font>
					<% else %>
						<%= vehicle %> <br/>
					<% end %>
				<% end %>
			</td>
			<td class="required"><%= f.label :promo_method %>
				<% BannerPromo::METHODS.each do |method| %>
					<%= f.radio_button :promo_method, method %>
						<% if @banner_promo.promo_method == method %>
							<strong><font color="red"> <%= method %> <br/></strong></font>
						<% else %>
							<%= method %><br/>
						<% end %>
				<% end %>
			</td>
			<td class="required"><%= f.label :promo_level %> <%= f.number_field :promo_level, :class => 'text_field', :step => 0.01 %></td>
				<td class="required"><%= f.label :status %>
					<% BannerPromo::STATUS.each do |status| %>
						<%= f.radio_button :status, status %>
						<% if @banner_promo.status == status %>
							<strong><font color="red"> <%= status %> <br/></strong></font>
						<% else %>
							<%= status %><br/>
						<% end %>
					<% end %>
				</td>
			</tr>

			<tr><td>&nbsp;</td></tr>

			<tr>
				<td class="required"><%= f.label :bar_feature_price %> <%= f.number_field :bar_feature_price, :class => 'text_field', :step => 0.01 %></td>
				<td colspan="2" class="required"><%= f.label :performance %><%= f.text_field :performance, size:65, autofocus: true  %></td>
				<td class="required"><%= f.label :lift %> <%= f.number_field :lift, :class => 'text_field', :step => 0.01 %></td>
			</tr>
		</table>

		<p>
			<%= f.submit %>
			<%= link_to 'CANCEL', :back, class: 'button'%>
		</p>

	</fieldset>

<% end %>

