<%= form_for([@parent, @banner]) do |f| %>
  <%= render 'shared/errors', object: @banner %>

	<fieldset>
		<table class="required">
			<% (1..5).each do |i| %>  
				<col width = "250" >
			<% end %>

			<tr>
				<td colspan="2" class="required"><%= f.label :banner_name %> <%= f.text_field :banner_name, size: 40, autofocus: true %></td>
			
				<td class="required"><%= f.label "Priority (5=Highest)" %>
					<% [5,4,3,2,1,0].each do |priority| %>
						<%= f.radio_button :priority, priority %>
						<%= priority %></br>
					<% end %>
				</td>		

				<td class="required"><%= f.label :country %>
					<% Fgsku::COUNTRIES.each do |country| %>
						<%= f.radio_button :country, country %>
						<%= country %></br>
					<% end %>
				</td>

			</tr>

			<tr><td>&nbsp;</td></tr>

			<tr>
				<td class="required"><%= f.label :bar_regular_retail %> <%= f.number_field :bar_regular_retail, :class => 'text_field', :step => 0.01 %></td>
				<td class="required"><%= f.label :caddy_actual_cost %> <%= f.number_field :caddy_actual_cost, :class => 'text_field', :step => 0.01 %></td>
					<td colspan = "2" class="required">
						<% unless @banner.dc.nil? %>
							Caddy List Cost from <%= @banner.dc.distributor.distributor_name %> <%= @banner.dc.dc_name %>: <%= number_to_currency(@banner.dc.listprice) %>
						<% end %>
					</td>
			</tr>

			<tr><td>&nbsp;</td></tr>

			<tr>
				<td class="required"><%= f.label :banner_store_count %> <%= f.number_field :banner_store_count %></td>
				<td class="required"><%= f.label :our_banner_store_count %> <%= f.number_field :our_banner_store_count %></td>				
				<td class="required"><%= f.label :banner_review_date %> <%= f.date_field :banner_review_date %></td>
				<td class="required"><%= f.label :banner_city %><%= f.text_field :banner_city%></td>
				<td class="required"><%= f.label :banner_state %><%= f.text_field :banner_state%></td>
			</tr>

			<tr>
				<td class="required"><%= f.label :banner_buyer_first_name %><%= f.text_field :banner_buyer_first_name%></td>
				<td class="required"><%= f.label :banner_buyer_last_name %><%= f.text_field :banner_buyer_last_name%></td>
				<td class="required"><%= f.label :logo_file_name %> <%= f.text_field :logo_file_name, placeholder: "GIF, JPG or PNG file name" %></td>
			</tr>

			<tr>
				<td colspan="5" class="required"><%= f.label :banner_notes %> <%= f.text_area :banner_notes, cols: 120, rows: 7  %></td>
			</tr>

			<tr>
				<td class="required"> <%= f.label "Banner Default DC:" %>
					<% linecount = 0 %>
					<% totallines = Distributor.all.count + Dc.all.count %>	
					<% breakline = totallines / 2 %>
					<% Distributor.all.order("distributor_name").each do |distributor| %>
						<b><i>
							<% if @banner.dc && @banner.dc.distributor_id == distributor.id %>
									<strong><font color="red"> <%= distributor.distributor_name %> </br></font></strong>
								<% else %>
									<%= distributor.distributor_name %></br>
							<% end %>
							<% linecount += 1 %>
						</i></b>

						<% Dc.where(distributor_id: distributor.id).order("dc_name").each do |dc| %>
							<%= f.radio_button :dc_id, dc.id  %>
							<% if @banner.dc_id == dc.id %>
									<strong><font color="red"> <%= dc.dc_name %> </br></font></strong>
								<% else %>
									<%= dc.dc_name %></br>
							<% end %>
						<% linecount += 1 %>
						<% end %>

						<% if linecount >= breakline %>
							</td><td>
							<% linecount = 0 %>
						<% end %>
					<% end %>
				</td>
			</td>

			<td>
				<strong><%= f.label 'Authorizations:' %></strong>
				<%= f.collection_check_boxes(:authorized_fgsku_ids, @banner.available_fgskus, :id, :flavor_descriptor) %>
			</td>

				<td class="required"> <%= f.label "Banner Broker:" %>
					<% linecount = 0 %>
					<% Brokerage.all.order("company").each do |brokerage| %>
						<b><i>
							<% if @banner.broker && @banner.broker.brokerage_id == brokerage.id %>
									<strong><font color="red"> <%= brokerage.company %>:</br></font></strong>
								<% else %>
									<%= brokerage.company %>:</br>
							<% end %>
							<% linecount += 1 %>
						</i></b>

						<% Broker.where(brokerage_id: brokerage.id).order("last_name").each do |broker| %>
							<%= f.radio_button :broker_id, broker.id  %>
								<% if @banner.broker_id == broker.id %>
									<strong><font color="red"> <%= broker.first_name %> <%= broker.last_name %></br></font></strong>
								<% else %>
									<%= broker.first_name %> <%= broker.last_name %></br>
								<% end %>
							<% linecount += 1 %>
							<% end %>

							<% if linecount >= breakline %>
								</td><td>
								<% linecount = 0 %>
							<% end %>
						<% end %>
				</td>

		</tr>

		</table>

		<p>
			<%= f.submit %>
			<%= link_to 'CANCEL', :back, class: 'button'%>
		</p>

	</fieldset>

<% end %>