<% content_for(:title, @banner.banner_name) %>
<article id="parent" class="parent">
	<header>
		Parent: <% parent = @banner.parent %> <%= link_to(parent.corpname, parent_path(parent)) %> <br />
		DC: <%= link_to(@banner.dc.distributor.distributor_name, distributor_path(@banner.dc.distributor)) %> <%= link_to(@banner.dc.dc_name, distributor_dc_path(@banner.dc.distributor, @banner.dc)) %>
		<%= image_for(@banner) %>
		<h1>Banner: <%= @banner.banner_name %></h1>
	</header>
	 We have <%= @banner.our_banner_store_count %> of their <%= pluralize(@banner.banner_store_count, 'store') %> (<%= number_to_percentage(100*@banner.our_banner_store_count.to_f/@banner.banner_store_count.to_f, precision: 0) %>) <br/>

	Priority: <%= @banner.priority %><br/>
	Broker: 
	<% if @banner.broker %>
		<%= @banner.broker.first_name %> <%= @banner.broker.last_name %>, <%= @banner.broker.brokerage.company %>; 
	Brokerage Rate <%= number_to_percentage(@banner.broker.brokerage.rate, precision: 1) %> ==>
	<%= number_to_currency(@banner.annual_brokerage, precision: 0) %> annual brokerage<br/>
	<% else %>
		NO BROKER ASSIGNED
	<% end %>  <br/>
	<%= @banner.banner_city %>, <%= @banner.banner_state %> <br/>
	Buyer: <%= @banner.banner_buyer_first_name %> <%= @banner.banner_buyer_last_name %><br/>
	Banner Level Notes:<br/> <%= @banner.banner_notes %> <br/>

	<%= render 'channeleconomicstable' %><br>

	<%= render 'oureconomicstable' %><br>

	<h2><%= pluralize(@banner.banner_promos.size, 'Promo') %>: 
	<%= number_to_percentage(100*@banner.banner_year_formula_spend_percent(2016), precision: 1) %> Formula Spend | 
	<%= number_to_percentage(100*@banner.banner_year_lump_spend_percent(2016), precision: 1) %> Lump Spend | 
	<%= number_to_percentage(100*@banner.banner_year_promo_spend_percent(2016), precision: 1) %> Total Spend
	</h2>	
		
		<%= render 'promoflowchartheader' %>
		<% @banner.banner_promos.order("start_date").each do |promo| %>
			<%= render 'promoflowchart', :promo => promo %>
			<% end %>

 	<%= link_to "Add a Promo", new_parent_banner_banner_promo_path(@parent,@banner),
  								class: "button ok addbanner" %>

	<h2><%= pluralize(@banner.stores.size, 'Store') %>:</h2>
		<ol>
		<% @banner.stores.order("store_name").each do |store| %>
				<li>
					<strong>
						<%= link_to(store.store_name, parent_banner_store_path(@banner.parent, @banner, store )) %> 
					</strong> 
						<%= store.city %>, <%= store.state %> :: 
						<i><%= store.dc.distributor.distributor_name %> <%= link_to(store.dc.dc_name, distributor_dc_path(store.dc.distributor, store.dc)) %></i>
				</li>
			<% end %>
		</ol>
  	<%= link_to "Add a Store", new_parent_banner_store_path(@parent,@banner),
  								class: "button ok addbanner" %>
 
  <footer>
  	<% if current_user_admin? %>
	    <nav>
				<%= link_to 'Edit this Banner', edit_parent_banner_path(@parent,@banner), class: 'button'  %>
				<%= link_to 'Delete this Banner', parent_banner_path(@banner.parent, @banner), 
										class: 'button', 
										method: :delete, data: {confirm: "Are you sure you want to delete #{@banner.banner_name}?"}  %>
	    </nav>
	  <% end %>
  </footer>

</article>

<% content_for(:side)	do %>
	<h3><%= pluralize(@banner.total_authorizations, 'FG SKU Authorization') %></h3>
		<article class="parent">
			<table>
				<th>SKU</th>
				<th>BSSW</th>
				<% cume_bssw = 0 %>

				<% @banner.authorized_fgskus.includes(:flavor).order('sizegroup', "flavors.shorthand").each do |fgsku| %>
					<tr>
						<td> <%= link_to(
							 "#{fgsku.flavor.shorthand} 
							 #{fgsku.country} 
							 #{fgsku.sizegroup}", flavor_fgsku_path(fgsku.flavor, fgsku)) %>
						</td>
						<td align="right">
							<% authorization = @banner.authorizations.find_by(fgsku: fgsku) %>
							<% authorization.bssw = 0 if authorization.bssw == nil %>
								<%= link_to(authorization.bssw.round(1), edit_parent_banner_authorization_path(@banner.parent, @banner, authorization)) %>
						</td>
					</tr>
				<% end %>

				<tr align="right">
					<td>Total BSW </td>
					<td><strong><%= @banner.cume_bssw.round(1) %></strong></td>
				</tr>
				<tr align="right">
					<td>x<%= pluralize(@banner.our_banner_store_count,"str") %>=Total Bars/Wk</td>
					<td><strong><%= @banner.barsperweekbase %></strong></td>
				</tr>
				<tr align="right">
					<td>Average BSSW </td>
					<td><strong><%= @banner.average_bssw.round(1) %></strong></td>
				</tr>
		</table>

	<nav>
	 	<%= link_to "Change SKU Authorizations", edit_parent_banner_path(@parent,@banner), class: "button" %>
	</nav>
<% end %>
