<%= form_for(@user) do |f| %>
  <%= render 'shared/errors', object: @user %>
	<fieldset>
	<ol>
		<li class="required">
			<%= f.label :name %> 
			<%= f.text_field :name, size: 65, autofocus: true %>
		</Li>
		<li class="required">
			<%= f.label :email %> 
			<%= f.text_field :email, size: 40 %> 
		</li>
		<li class="required">
			<%= f.label :password %> 
			<%= f.password_field :password, size: 40 %> 
		</li>
		<li class="required">
			<%= f.label :password_confirmation %> 
			<%= f.password_field :password_confirmation, size: 40 %> 
		</li>

		<p>
			<% if @user.new_record? %>
				<%= f.submit "Create Account" %>
			<% else %>
				<%= f.submit "Update Account" %>
			<% end %>

				<%= link_to 'CANCEL', users_path, class: 'button'%>


		</p>
	</fieldset>


<% end %>
