
<h1><%= pluralize(@parents.size, 'Parent Organization')%> </h1>

<table>
<col width = "200">  
<col width = "50" >
<% (1..12).each do |i| %>  
	<col width = "12" >
<% end %>
<tr class="bannerrow">
	<td>left box </td>
	<td>2nd box </td>
	<% (1..1).each do |i| %>  
	<td colspan="52" align="center">2016</td>
	<% end %>
</tr>
<tr class="bannerrow">
	<td>left box </td>
	<td>2nd box </td>
	<% (1..4).each do |i| %>  
	<td colspan="13" align="center"><%= i %>Q</td>
	<% end %>
</tr>
<tr class="bannerrow">
	<td>left box </td>
	<td>2nd box </td>
	<% (1..52).each do |i| %>  
	<td><%= i %></td>
	<% end %>
</tr>
</table>

	<% @parents.each do |parent| %>
		[<%= parent.channel_segment[0,1] %>] 
		<strong><%= link_to(parent.corpname, parent) %></strong> | 
		<%= pluralize(parent.banners_count, 'banner') %> </br>

			<% parent.banners.each do |banner| %>
				
					<%= link_to(banner.banner_name, parent_banner_path(parent,banner)) %>
				</br>	
			<% end %>		

	<% end %>