<p id="notice"><%= notice %></p>

<p>
  <strong>Logdate:</strong>
  <%= @log.logdate %>
</p>

<p>
  <strong>Log notes:</strong>
  <%= @log.log_notes %>
</p>

<p>
  <strong>Outcome:</strong>
  <%= @log.outcome %>
</p>

<p>
  <strong>Review:</strong>
  <%= @log.review %>
</p>

<p>
  <strong>Action:</strong>
  <%= @log.action %>
</p>

<p>
  <strong>Actiondate:</strong>
  <%= @log.actiondate %>
</p>

<p>
  <strong>Action status:</strong>
  <%= @log.action_status %>
</p>

<p>
  <strong>Parent:</strong>
  <%= @log.parent %>
</p>

<p>
  <strong>Banner:</strong>
  <%= @log.banner %>
</p>

<p>
  <strong>Distributor:</strong>
  <%= @log.distributor %>
</p>

<p>
  <strong>Dc:</strong>
  <%= @log.dc %>
</p>

<p>
  <strong>Broker:</strong>
  <%= @log.broker %>
</p>

<p>
  <strong>:</strong>
  <%= @log. %>
</p>

<p>
  <strong>Manager:</strong>
  <%= @log.manager %>
</p>

<p>
  <strong>Store:</strong>
  <%= @log.store %>
</p>

<%= link_to 'Edit', edit_log_path(@log) %> |
<%= link_to 'Back', logs_path %>
